@charset "utf-8";
/* CSS Document */

body{
	background-color: silver;
}
.container{
	background-color: #1a5266;
}

.navbar{
	background-color: silver !important;
}
a{
	color: #337ab7 !important;
}
#myCarousel{
	padding-top: 15px;
}

#pRow1 img{
	padding-right: 15px;
	padding-top: 15px;
}
#pRow2 img{
	padding-right: 15px;
	padding-top: 15px;
}
#shipping{

}

#mytext1{
	padding-top: 15px;
}
#mytext1 p{
	background-color: silver;
	color: red;
}

#mytext2{
	padding-top: 15px;
}

.textColor{
	background-color: #4A6D74;
}